.grid-container {
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 16; }
    .div2 { grid-area: 1 / 16 / 2 / 31; }
    .div3 { grid-area: 1 / 31 / 2 / 46; }
    .div4 { grid-area: 1 / 46 / 2 / 61; }
    .div5 { grid-area: 2 / 1 / 3 / 13; }
    .div6 { grid-area: 2 / 13 / 3 / 25; }
    .div7 { grid-area: 2 / 25 / 3 / 37; }
    .div8 { grid-area: 2 / 37 / 3 / 49; }
    .div9 { grid-area: 2 / 49 / 3 / 61; }
    .div10 { grid-area: 3 / 1 / 4 / 21; }
    .div11 { grid-area: 3 / 21 / 4 / 41; }
    .div12 { grid-area: 3 / 41 / 4 / 61; }

    div{
        margin-top: 0;
        margin-bottom: 0;
    }